<template>
  <div>

    <div class="block-header">
        <h2>Dashboard</h2>
        
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>        
    </div>

    <div class="card">
      <div class="card-header">
          <h2>Sales Statistics <small>Vestibulum purus quam scelerisque, mollis nonummy metus</small></h2>
          
          <ul class="actions">
              <li>
                  <a href="">
                      <i class="zmdi zmdi-refresh-alt"></i>
                  </a>
              </li>
              <li>
                  <a href="">
                      <i class="zmdi zmdi-download"></i>
                  </a>
              </li>
              <li class="dropdown">
                  <a href="" data-toggle="dropdown">
                      <i class="zmdi zmdi-more-vert"></i>
                  </a>
                  
                  <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                          <a href="">Change Date Range</a>
                      </li>
                      <li>
                          <a href="">Change Graph Type</a>
                      </li>
                      <li>
                          <a href="">Other Settings</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
      
      <div class="card-body card-padding"  v-if="user">
          <p>{{ user.nome }}</p>
          <small class="card-subtitle">{{ user.email }}</small>
          <ul class="icon-list">
              <li><i class="zmdi zmdi-account-circle"></i>{{ user.login}}</li>
              <li><i class="zmdi zmdi-email"></i>{{ user.email }}</li>
              <li><i class="zmdi zmdi-calendar-note"></i>{{ user.data_nascimento }}</li>
          </ul>
          <router-link :to="{name: 'Logout'}">Logout</router-link>
      </div>
  </div>

  </div>
</template>

<script>
import store from '@/vuex/store'
export default {
  name: 'Home',
  computed : {
    user(){
      return store.state.auth.user;
    }
  },
  data() {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
