
<template>
<div>
<div v-if="isAuth"><app-header></app-header></div>
  <section id="main" data-layout="layout-1">
    <aside id="sidebar" class="sidebar c-overflow">
      <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
                Malinda Hollaway

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
      </div>
      <ul class="main-menu">
         <li class="active">
            <a href="index.html"><i class="zmdi zmdi-home"></i> Home</a>
          </li>
      </ul>
    </aside>

    <section id="content">
        <div class="container-fluid">
          <router-view/>
        </div>
    </section>

  </section>
</div>
</template>

<script>
import JWTToken from '@/services/auth/JWTToken'
import Header from '@/components/partials/Header.Component'
import store from '@/vuex/store'
export default {
  name: 'app',
  components: {
    'app-header' : Header,
  },
  computed: {
    isAuth(){
      return store.state.auth.check;
    }
  },
  mounted(){

    if(!JWTToken.token){
      this.$router.push({name: 'Login'})
      return
    }

    let routeName = 'Home'
    this.$router.push({name: routeName});
  }
}
</script>

<style>
</style>
