<script>
import JWTToken from '@/services/auth/JWTToken'
import store from '@/vuex/store'

    export default {
        name: 'Login',
        props: {
          passwordPattern:{
            type:String,
            required: false,
            default:'.{4,10}'
          }
        },
        data(){
          return {
            loginSuccessClass:'',
            passwordSuccessClass: '',
            submitButtonDisabled: true,
            user: {
              login: '',
              password: ''
            }
          }
        },
        methods: {
          login(){
            store.dispatch('login',this.user)
            .then((response) => {
                 this.$router.push({name: 'Home'})
            }).catch((error) =>{
                console.log(error)
                this.error.error = true;
                if(error.status === 400){
                     this.error.message = error.data.error;
                }else{
                     this.error.message = 'Login Falhou!';
                }
            })
          },
          checkLoginValidation: function(){
            if(this.user.login.length > 1){
                this.loginSuccessClass = "form-control--active";
                if(this.user.password.length > 3) this.submitButtonDisabled = false;
            }else{
                //this.emailSucessClass = "has-error";
                //this.emailIconClass = "glyphicon glyphicon-remove form-control-feedback";
                this.submitButtonDisabled = true;
            }
          },
          checkPassowordValidation: function(){
              if(this.user.password.length > 3){
                  this.passwordSuccessClass = "form-control--active";
                  if(this.user.login.length > 1) this.submitButtonDisabled = false;
              }else{
                  //this.passwordSuccessClass = "has-error";
                  //this.passwordIconClass = "glyphicon glyphicon-remove form-control-feedback";
                  this.submitButtonDisabled = true;
              }
          }
        }
    }
</script>

<template>
  <div class="login">
      <!-- Login -->
      <div class="login__block active" id="l-login">
          <div class="login__block__header">
              <i class="zmdi zmdi-account-circle"></i>
              Hi there! Please Sign in

              <div class="actions actions--inverse login__block__actions">
                  <div class="dropdown">
                      <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-register" href="">Create an account</a>
                          <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-forget-password" href="">Forgot password?</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="login__block__body">
              <form @submit.prevent="login()" method="post">
                <div class="form-group form-group--float form-group--centered">
                    <input v-model="user.login" type="text" class="form-control" @input="checkLoginValidation"  :class="loginSuccessClass">
                    <label>Login</label>
                    <i class="form-group__bar"></i>
                </div>

                <div class="form-group form-group--float form-group--centered">
                    <input v-model="user.password" @input="checkPassowordValidation"  :class="passwordSuccessClass"
                     type="password" class="form-control">
                    <label>Senha</label>
                    <i class="form-group__bar"></i>
                </div>
                <button type="submit" class="btn login__block__btn" :disabled="submitButtonDisabled"><i class="zmdi zmdi-long-arrow-right"></i> Entrar</button>
              </form>
          </div>
      </div>
  </div>
</template>

<style scoped>

</style>
