<script>
import store from '@/vuex/store'

  export default {
    name: 'Logout',
    data(){
      return{
          msg:'hello vue'
      }
    },
    mounted(){
        setTimeout(() => {
            this.logout();
        },2000)
    },
    methods : {
        logout(){
            store.dispatch('logout')
            this.$router.push({name: 'Login'})
        }
    }
  }
</script>

<template>
  <div class="logout">
      Efetuando Logout...
  </div>
</template>
